<%= form_tag active_student_path do %> 

<label> Active: </label><br>
<%= text_field_tag :active %> 

<%= hidden_field_tag :authenticity_token, form_authenticity_token %> 

<%=submit_tag "Submit"%> 

<%end%>